<mat-toolbar color="primary" class="cabecera">
    <ul>
        <a routerLink="ListarPeliculas">Listar</a>
    </ul>
    <ul>
        <a routerLink="CrearUsuario20">Crear </a>
    </ul>
    <ul>
        <a routerLink="BorrarUsuario20">Borrar</a>
    </ul>
    <ul>
        <a routerLink="ActualizarUsuario21">Actualizar </a>
    </ul>
    <ul>
        <a routerLink="Login" style="margin-left: 1200px;">Login </a>
    </ul>
    <ul>
        <a routerLink="Logout">Logout </a>
    </ul>
    
  </mat-toolbar>
